2.[[:space:]]training_model/trained_models_tf/model_9M_32_5/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
2.[[:space:]]training_model/trained_models_tf/model_9M_32_10/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
